/* blink arrows */
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body,
* {
  margin: 0;
  padding: 0;
  font: normal 12px/1.35em Arial, Verdana, Geneva, Helvetica, sans-serif;
}

.main-container {
  height: 680px;
  width: 357.5px;
}

.img-container {
  position: relative;
  height: 100%;
  vertical-align: middle;
}

.img-container svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-path {
  z-index: 100;
  cursor: pointer;
  -moz-animation: blink normal 0.8s infinite; /* Firefox */
  -webkit-animation: blink normal 0.8s infinite; /* Webkit */
  -ms-animation: blink normal 0.8s infinite; /* IE */
  animation: blink normal 0.8s infinite; /* Opera and prob css3 final iteration */
}

.tooltip-rect {
  cursor: pointer;
  fill: red;
}

.tooltip-text {
  font-size: 12px;
  cursor: pointer;
  fill: white;
}
