<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="geoip" translate="label" type="text" sortOrder="720" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Geoip</label>
            <tab>swissup_checkout</tab>
            <resource>Swissup_Geoip::config</resource>
            <group id="main" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Main</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="filename" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maxmind database filename</label>
                    <comment><![CDATA[<a href='https://geolite.maxmind.com/download/geoip/database/GeoLite2-City.tar.gz' title='Download GeoCity database'>Download</a> and unzip file under the 'MAGETO_ROOT/var/swissup/geoip/' folder]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
